<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <section>

        <div class="box1 box">
            <div class="content">
                <div class="image">
                    <img src="https://i.postimg.cc/bryMmCQB/profile-image.jpg" alt="Profile Image">
                </div>
                <div class="level">
                    <p>PRO</p>
                </div>
                <div class="text">
                    <p class="name">Ethan Rivers</p>
                    <p class="job_title">UI / UX Designer</p>
                    <p class="job_discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam atque,
                        ipsam a amet laboriosam eligendi.</p>
                </div>
                <div class="icons">
                    <button>
                        <ion-icon name="logo-dribbble"></ion-icon>
                    </button>
                    <button>
                        <ion-icon name="logo-instagram"></ion-icon>
                    </button>
                    <button>
                        <ion-icon name="logo-twitter"></ion-icon>
                    </button>
                    <button>
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </button>
                    <button>
                        <ion-icon name="logo-facebook"></ion-icon>
                    </button>
                    <button>
                        <ion-icon name="logo-behance"></ion-icon>
                    </button>
                </div>
                <div class="button">
                    <div>
                        <button class="message" type="button">Message</button>
                    </div>
                    <div>
                        <button class="connect" type="button">Connect</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="box2 box">
            <div class="content">
                <div class="row">
                    <div class="image">
                        <img src="https://i.postimg.cc/bryMmCQB/profile-image.jpg" alt="Profile Image">
                    </div>
                    <div class="post">
                        <p>Post</p>
                        <h5>28</h5>
                    </div>
                    <div class="followers">
                        <p>Followers</p>
                        <h5>678</h5>
                    </div>
                    <div class="following">
                        <p>Following</p>
                        <h5>120</h5>
                    </div>
                </div>
                <div class="text">
                    <p class="name">Ethan Rivers</p>
                    <p class="job_title">UI / UX Designer</p>
                    <p class="about">About</p>
                    <p class="job_discription">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores,
                        placeat obcaecati. Eaque fugit eveniet error voluptates totam enim molestias vitae, amet aliquid
                        deleniti ipsa ea.</p>
                </div>
            </div>
        </div>

    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html> -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Admin
    </title>

    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- sidebar -->
    <div class="sidebar">
        <div class="logo flex center">
            <a href="javascript:void(0)">
                <img src="images/logo-light.png" alt="logo">
            </a>
        </div>
        <div class="nav-bar">
            <nav>
                <ul>
                    <h4>MENU</h4>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown" style="color: #fff;">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-chart-column"></i>
                                <span>Dashboard</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" style="color: #fff;">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-grip"></i>
                                <span>Apps</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Calender
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Chat
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - E-mail
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Task
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - To Do
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - API Key
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-layer-group"></i>
                                <span>Layouts</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <h4>PAGES</h4>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-regular fa-user"></i>
                                <span>Authentication</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-regular fa-file-lines"></i>
                                <span>Pages</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-rocket"></i>
                                <span>Landing</span>
                                <div class=" bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <h4>COMPONENTS</h4>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-pen-ruler"></i>
                                <span>Base UI</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-display"></i>
                                <span>Advance UI</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-medal"></i>
                                <span>Widgets</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-file-contract"></i>
                                <span>Forms</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-table-columns"></i>
                                <span>Tables</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-chart-pie"></i>
                                <span>Charts</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-icons"></i>
                                <span>Icons</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-earth-asia"></i>
                                <span>Maps</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" class="dropdown">
                            <div class="side-wrap flex center align-items space-between">
                                <i class="fa-solid fa-users-between-lines"></i>
                                <span>Multi Level</span>
                                <div class="bar-icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Analytics
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - CRM
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - eCommerce
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Logistic
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Academy
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - NFT
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        - Job
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- header -->
    <header>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="w-12 flex align-items">
                        <div class="w-1">
                            <div class="bar" id="bar">
                                <a href="javascript:void(0)">
                                    <i class="fa-solid fa-bars-staggered"></i>
                                </a>
                            </div>
                        </div>
                        <div class="w-3">
                            <div class="header-form">
                                <form action="#">
                                    <input type="search" placeholder="Search...">
                                </form>
                            </div>
                        </div>
                        <div class="w-8">
                            <div class="others flex right ">
                                <ul class="flex align-items">
                                    <li class="lan rel">
                                        <a href="javascript:void(0)" class="lang dropdown flex align-items">
                                            <img src="images/us.svg" alt="lang">
                                        </a>
                                        <div class="dropdown-menu abs">
                                            <ul>
                                                <li style="background-color: var(--bg-color);">
                                                    <a href="javascript:void(0)">
                                                        <img src="images/us.svg" alt="lang">
                                                        <span>English</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <img src="images/spain.svg" alt="lang">
                                                        <span>Spanish</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <img src="images/italy.svg" alt="lang">
                                                        <span>Italian</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <img src="images/germany.svg" alt="lang">
                                                        <span>German</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="cart rel">
                                        <a href="javascript:void(0)" class="dropdown">
                                            <i class="fa-solid fa-bag-shopping"></i>
                                        </a>
                                        <div class="dropdown-menu abs">
                                            <ul>
                                                <div class="title flex align-items">
                                                    <div class="w-6">
                                                        <a href="javascript:void(0)">
                                                            <h4>My Cart</h4>
                                                        </a>
                                                    </div>
                                                    <div class="w-6 flex right">
                                                        <a href="javascript:void(0)">
                                                            <h5>4 items</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                                <hr>
                                                <li style="margin-top: 8px;">
                                                    <div class="item-1 flex">
                                                        <div class="w-2 flex center">
                                                            <a href="javascript:void(0)">
                                                                <img src="images/img-1.png" alt="img-1" height="50px"
                                                                    width="50px">
                                                            </a>
                                                        </div>
                                                        <div class="w-6">
                                                            <a href="javascript:void(0)">
                                                                <h4>Branded T-shirts</h4>
                                                                <p>Quantity: 10 x $32</p>
                                                            </a>
                                                        </div>
                                                        <div class="w-3 flex align-items center">
                                                            <a href="javascript:void(0)">
                                                                <span>$ 320</span>
                                                            </a>
                                                        </div>
                                                        <div class="w-1 flex center align-items">
                                                            <a href="javascript:void(0)">
                                                                <i class="fa-solid fa-xmark"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-1 flex">
                                                        <div class="w-2 flex center">
                                                            <a href="javascript:void(0)">
                                                                <img src="images/img-2.png" alt="img-1" height="50px"
                                                                    width="50px">
                                                            </a>
                                                        </div>
                                                        <div class="w-6">
                                                            <a href="javascript:void(0)">
                                                                <h4>Bentwood Chair</h4>
                                                                <p>Quantity: 5 x $18</p>
                                                            </a>
                                                        </div>
                                                        <div class="w-3 flex align-items center">
                                                            <a href="javascript:void(0)">
                                                                <span>$ 89</span>
                                                            </a>
                                                        </div>
                                                        <div class="w-1 flex center align-items">
                                                            <a href="javascript:void(0)">
                                                                <i class="fa-solid fa-xmark"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-1 flex">
                                                        <div class="w-2 flex center">
                                                            <a href="javascript:void(0)">
                                                                <img src="images/img-3.png" alt="img-1" height="50px"
                                                                    width="50px">
                                                            </a>
                                                        </div>
                                                        <div class="w-6">
                                                            <a href="javascript:void(0)">
                                                                <h4>Borosil Paper Cup</h4>
                                                                <p>Quantity: 3 x $250</p>
                                                            </a>
                                                        </div>
                                                        <div class="w-3 flex align-items center">
                                                            <a href="javascript:void(0)">
                                                                <span>$ 750</span>
                                                            </a>
                                                        </div>
                                                        <div class="w-1 flex center align-items">
                                                            <a href="javascript:void(0)">
                                                                <i class="fa-solid fa-xmark"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li style="margin-bottom: 8px;">
                                                    <div class="item-1 flex">
                                                        <div class="w-2 flex center">
                                                            <a href="javascript:void(0)">
                                                                <img src="images/img-6.png" alt="img-1" height="50px"
                                                                    width="50px">
                                                            </a>
                                                        </div>
                                                        <div class="w-6">
                                                            <a href="javascript:void(0)">
                                                                <h4>Gray Styled T-Shirt</h4>
                                                                <p>Quantity: 1 x $1250</p>
                                                            </a>
                                                        </div>
                                                        <div class="w-3 flex align-items center">
                                                            <a href="javascript:void(0)">
                                                                <span>$ 1250</span>
                                                            </a>
                                                        </div>
                                                        <div class="w-1 flex center align-items">
                                                            <a href="javascript:void(0)">
                                                                <i class="fa-solid fa-xmark"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <hr>

                                                <div class="bill flex align-items">
                                                    <div class="w-6">
                                                        <a href="javascript:void(0)">
                                                            <h4>Total :</h4>
                                                        </a>
                                                    </div>
                                                    <div class="w-6 flex right">
                                                        <a href="javascript:void(0)">
                                                            <h5>$3399.00</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="check-btn">
                                                    <a href="javascript:void(0)">
                                                        Checkout
                                                    </a>
                                                </div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="zoom">
                                            <i class="fa-solid fa-magnifying-glass-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="mod">
                                            <i class="fa-regular fa-moon"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="notification">
                                            <i class="fa-regular fa-bell"></i>
                                        </a>
                                    </li>
                                    <li class="user rel">
                                        <a href="javascript:void(0)" class="dropdown">
                                            <div class="user-wrap flex align-items">
                                                <div class="w-3" style="margin-right: 10px;">
                                                    <div class="user-img">
                                                        <img src="<%= path %>" alt="user">
                                                    </div>
                                                </div>
                                                <div class="w-9">
                                                    <div class="user-info">
                                                        <p>
                                                            <%= username %>
                                                        </p>
                                                        <span>
                                                            <%= fname %>
                                                                <%= lname %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu abs">
                                            <ul>
                                                <div class="text" style="margin-bottom:5px ;">
                                                    <span>Welcome <%= fname %>
                                                            <%= lname %>!</span>
                                                </div>
                                                <li>
                                                    <a href="/profile" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-solid fa-user-tie"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Profile</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-regular fa-envelope"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Messages</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-regular fa-calendar-check"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Taskboard</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-solid fa-question"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Help</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <hr>
                                                <li>
                                                    <a href="javascript:void(0)" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-solid fa-wallet"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Balence : <b>$5971.67</b></span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-solid fa-gear"></i>
                                                        </div>
                                                        <div class="w-6 flex align-items">
                                                            <span>Setting</span>
                                                        </div>
                                                        <div class="w-3 flex align-items center">
                                                            <h6>NEW</h6>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-solid fa-lock"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Lock-Screen</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/loginForm" class="flex">
                                                        <div class="w-3 flex left align-items">
                                                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                        </div>
                                                        <div class="w-9 flex align-items">
                                                            <span>Log-Out</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- main-content -->
    <main>
        <section class="main" style="padding: 100px 0;">
            <div class="main-cont">
                <div class="container" id="particles-js">
                    <div class="row">
                        <div class="w-12">
                            <div class="intro-main flex align-items space-between">
                                <div class="box1 box" style="margin: 0 auto;">
                                    <div class="content">
                                        <div class="image">
                                            <img src="<%= path %>" alt="Profile Image">
                                        </div>
                                        <div class="level">
                                            <p>PRO</p>
                                        </div>
                                        <div class="text">
                                            <h1 class="name">
                                                <%= username %>
                                            </h1>
                                            <p class="job_title">
                                                <%= fname %> <%= lname %>
                                            </p>
                                            <p class="job_discription" style="font-style: italic;">Hi! Im <span style="text-decoration: underline;color: black;font-size: 16px;"> <%= fname %></span>, a back-end developer with a passion for coding and I'm always eager to
                                                learn new things. Looking forward to connecting!</p>
                                        </div>
                                        <div class="icons">
                                            <button>
                                                <ion-icon name="logo-dribbble"></ion-icon>
                                            </button>
                                            <button>
                                                <ion-icon name="logo-instagram"></ion-icon>
                                            </button>
                                            <button>
                                                <ion-icon name="logo-twitter"></ion-icon>
                                            </button>
                                            <button>
                                                <ion-icon name="logo-linkedin"></ion-icon>
                                            </button>
                                            <button>
                                                <ion-icon name="logo-facebook"></ion-icon>
                                            </button>
                                            <button>
                                                <ion-icon name="logo-behance"></ion-icon>
                                            </button>
                                        </div>
                                        <div class="button">
                                            <div>
                                                <button class="message" type="button">Edit</button>
                                            </div>
                                            <div>
                                                <button class="connect" type="button">Settings</button>
                                            </div>
                                        </div>
                                        <div class="emailid">
                                            <a href="javascript:void(0)" ><%= email %></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/tippy.js@1.1.3/dist/tippy.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

    <script src="jq/jq-script.js"></script>
</body>

</html>